<a href="https://colab.research.google.com/github/changheehee/unicenter2022_1-2/blob/%EC%88%98%EC%97%85/1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_2%EB%B2%88_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('''TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT''')

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT

In [ ]:
print("TTTTTTTTTT\nTTTTTTTTTT\n",end="    ");print("TT\n", end="    ");print("TT\n", end="    ");print("TT\n", end="    ")

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT