<a href="https://colab.research.google.com/github/changheehee/unicenter2022_1-2/blob/%EC%88%98%EC%97%85/%EC%88%98%EC%97%85_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<변수>**

# ▶ = 는 assign 연산자이다.
# ▶ 한 변수에는 1개의 값만, 고로 기존 변수에 새 값을 넣으면 덮어 쓰여진다.
# ▶ print(score)가 아닌 score만 할 땐, 이후 추가적인 코드가 들어오면 값이 나오지 않는다.
# ▶ 변수의 이름은 의미 있는 이름을 사용
# ▶ 소문자와 대문자는 다르게 취급
# ▶ 변수의 이름은 영문자/ 숫자/ 밑줄(_)로 구성
# ▶ 이름에서 처음은 숫자로 하거나 특수문자는 불가능

In [ ]:
# 임시적인 값 보여주는 방식. score = 30 를 넣으니 화면에 값이 나오지 않는다.

score = 20
score
score = 30

In [ ]:
# 프린트를 통한 변수 값을 화면에 내보내기

score = 20
print(score)
print = 30

20

In [ ]:
# 덮어쓰임

score = 20
score = 30
score

30

In [ ]:
# 변수와 변수의 곱을 통해 넓이를 구하는 코드를 만들었다.

width = 10
height = 20
area = width * height
print(area)

200

In [ ]:
# s는 변수, 'abc'는 문자열이자 변수에 대입된 값, print를 통해 s를 화면 상에 출력  

s = '안녕하세요?'
print(s)

pi = 3.141592
print(pi)

In [ ]:
# 활용 예시 1
# sep=''로 빈칸을 없앨 수 있다.

num_people = int(input())
chicken = num_people * 1
beer = num_people * 2
cake = num_people * 4
print("참석자의 수를 입력하시오:", num_people, sep='')
print("치킨의 수:",chicken, end=", ")
print("맥주의 수:",beer, end=", ")
print("케익의 수:",cake)

100
참석자의 수를 입력하시오:100
치킨의 수: 100, 맥주의 수: 200, 케익의 수: 400

# **<변수 값 교환>**

In [ ]:
# 변수 값 교환의 잘못된 예
# 위에서부터 아래로 진행되는 프로그래밍의 순서를 간과한 것

x = 10
y = 20
print(x,y)
x = y
y = x
print(x,y)

print("________________________________\n")

x = 10
y = 20
print(x,y)
y = x
x = y
print(x,y)

10 20
20 20
________________________________

10 20
10 10

In [ ]:
# 제 3의 변수를 생성 후 x 값을 대입한다. 
# 이후 x에 y 값을 넣은 후, y에 제 3의 변수의 값(temp에 복사된 x의 값)이 들어간다.

x = 10
y = 20

temp = x
x = y
y = temp

print(x,y)

20 10

In [ ]:
# 위 방법을 내부적으로 처리해준 것이 8번째 x , y = y , x 코드이다.
# 고로 한 코드로 교환이 가능하다.

x = 30
y = 100
print(x,y)

x , y = y , x

print(x,y)

30 100
100 30

In [ ]:
# 정수 = int
# 실수 = float, double
# "",'' 속에 있는 문자나 숫자 = 문자열

# True / False = 논리값 = boolean
# True = 1 / False = 0

# ctrl + / 는 주석으로 만드는/취소하는 단축키

# **활용 예시**

In [ ]:
#시간 계산도 가능

sec = 3734
hour = sec // 3600
minute = (sec % 3600) // 60
remains = (sec % 3600) % 60

print(sec,'sec = ', hour,'h',minute,'m', remains,'s',sep ='')

3734sec = 1h2m14s

In [ ]:
myMoney = 5000;
candyPrice = 120;

# 최대한 살 수 있는 사탕 수

numCandies = myMoney//candyPrice
print("살 수 있는 사탕 수는:",numCandies)

# 최대한 사탕을 구입하고 남은 돈

change = myMoney % candyPrice;
print("잔돈 금액은:",change)

살 수 있는 사탕 수는: 41
잔돈 금액은: 80

In [ ]:
x = 2
y = 3 * x**2 + 7 * x + 9
print(y)

35

#**<함수 호출>** 

#▶ 작업을 담당하는 명령어
#▶ 기본 제공되는 내장 함수가 많음

In [ ]:
# abs() 절대값, round() 반올림, max() 최댓값, min() 최솟값
from math import *
sqrt(4.0) #제곱근

2.0

In [ ]:
from math import *
time1 = 10/20
height = sqrt(3**2+4**2)
time2 = height/10
time3 = height/30
time4 = 8/20
total = time1+time2+time3+time4
print(total)

1.5666666666666669

# **<input() 함수>**

In [ ]:
name = input("이름을 입력해주세요: ")
print("빈갑습니다",name+"씨!")
age = input("나이는요?: ")
print("네, 나이는", age+"살이고 이름은",name+"씨군요")

이름을 입력해주세요: 정창희
빈갑습니다 정창희씨!
나이는요?: 15
네, 나이는 15살이고 이름은 정창희씨군요

In [ ]:
x = int(input("첫번째 정수: "))
y = int(input("두번째 정수: "))
sum = x + y 
print("합은",sum)

첫번째 정수: 10
두번째 정수: 20
합은 30

In [ ]:
redius = int(input("반지름을 입력하시오: "))

volume = 4/3 * pi * redius ** 3
print (volume)

반지름을 입력하시오: 5
523.5987755982989